@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
        font-size: 1em;
  }
  .tbl td {
      text-align: center;
      margin-bottom: 2em;
      border: ridge;
  }
  table {
      margin-left:auto; 
      margin-right:auto;
      margin-bottom: 10px;
  }
  .article img {
      float: right;
      width: 400px;
  }
  .forecast h2 {
      text-align: center;
  }
.map {
   
    }
    #logo {
        margin-left: 7rem;
    }
    #motto {
        margin: 4rem;
    }