body {
    margin: 0 auto;
    font-size: 20px;
    padding: .5em
}

h1,
h2,
h3,
h4 {
    font-family: 'Yeon Sung', serif
}

#logo {
    width: 30vh;
    border-radius: 100%;
    margin-left: 7vm
}

#motto {
    margin: 4rem
}

#locations {
    text-align: center
}

.heading-l {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://rybitskyiorest.github.io/Scoots/images/island.png);
    background-size: cover
}

.heading {
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: white 0px 0px 10px;
    
}
.content {
    padding: 1em;
    margin-bottom: 2em;
    border: dashed
}

nav {
    margin: 0 auto
}

.navigation {
    list-style: none;
    padding: 0
}

.navigation li:first-child {
    display: block
}

.navigation li {
    display: none
}

.navigation a {
    font-family: Yeon Sung;
    font-weight: 700;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    color: #8f2b00;
    background-color: #70c1ff;
    font-weight: 500
}

.navigation a:hover {
    color: #70c1ff;
    background-color: #f8f862
}

.navigation .active {
    background-color: #f8f862;
    border: dotted
}

.responsive li {
    display: block;
}

#placeholder {
    width: 100%
}

.ws {
    text-align: center
}

.ws p {
    margin: auto
}

#img_s {
    max-width: 100%;
    display: none
}

.content_s {
    text-align: center;
    font-size: 1.3rem;
    margin: 3px
}

.content_s a img {
    width: 50px
}

footer {
    background-color: #70c1ff
}

.footer {
    text-align: center;
    position: static
}

main {
    background-color: #f8f862;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 100%
}

.slides0 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center
}

#table th {
    border: solid;
    text-align: center
}

#table td {
    border: solid;
    text-align: center
}

#table {
    padding: 1em;
}
#info2 {
    margin: 0 8rem 2rem 8rem;
    padding: 0 3rem 0 3rem;
    border: solid
}

.button {
    margin: 2rem;
    width: 13rem;
    height: 4rem
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    width: 18rem;
    height: 6rem;
    font-size: 1.3em
}
#pics {
    display: grid;
    justify-content: center;
    max-width:100%;
     border-style: dotted; 
     overflow:auto;
    padding: 1rem;
}
#pic img{
    margin: auto;
}
.picture img[data-src] {
    filter: blur(0.3em);
    max-width:100%;
  }
.picture img {
    filter: blur(0em);
    transition: filter 1s;
    max-width:100%;
  }
  .picture {
    transition: box-shadow .3s;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    text-align: center;
  }
  .picture:hover {
    box-shadow: 0 0 10px #000000; 
  }
  .container h2 h3 h4 {
      text-align: center;
  }
  .google-maps {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
