
 @import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

 #content {
   color: #FF4242;
   font-family:Marmelad, sans-serif;
   margin: 0 auto;
   max-width: 580px;
 }
 h1,h2 {
   font-family: Marmelad, sans-serif;
 }
 
 header { 
   background-color: #26944a;
   border-radius: 30px;
   color: #E9E6FF;
   font-size: 3em;
   margin-bottom: 40px;
   padding-bottom: 30px;
   padding-left: 60px;
 }
 main {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 100px;
}
p{
  float: right;
  margin-right: 15px;
}
 p img {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.75);
   border-radius: 30px;
 }
 #span {
  color: #64f710;
}
footer, footer a {
  background-color: #26944a;
  border-radius: 30px;
  color: #E9E6FF;
  font-size: 0.9em;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}