body {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 20px;
    padding: 0.5em;
}
h1, h2, h3, h4 {
    font-family: 'Fanwood Text', serif;
}
.content, p { 
    font-family: 'Crimson Pro', serif;
}
.heading-l {
    background-color:  #bff0d4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 1em;
    margin-bottom: 2em;
    border: dashed;
}
nav {
    margin: 0 auto;
}
.navigation {
    list-style: none;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    color: #bff0d4;
    background-color: #0773ed;
    font-weight: 500;
}
.navigation a:hover {
color: #bff0d4;
background-color: #eeaf1b ;
}
.responsive li {
    display: block;
}
#placeholder {
    width: 100%;
}
footer {
    background-color: #bff0d4;
}
.footer {
text-align: center;
}