body { 
    justify-content: center;
    text-align: center;
    background-color: tan;
}
main {
    background-color: rgb(94, 201, 201);
    align-items: center;
}
h1 {
    font-size: 5rem;
}
.cards {
    display: grid;
    grid-template-columns: 1fr; 
}
.cards section img {
    width: auto;
    margin:1rem;
}
.cards section {
    margin: 1rem;
    text-align: center;
    align-items: center;
    background-color: rgb(42, 95, 95);
    border: 1px dotted rgb(87, 87, 95);
}
.cards section h2 {
    font-size: 3rem;
}
.cards section p {
    font-size: 2rem;
    padding: 1rem;
}

@media only screen and (min-width: 37.5em) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
}
@media only screen and (min-width: 62.5em) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}
