body { 
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
main {
    background-color: rgb(129, 129, 129);
    align-items: center;
    padding: 2rem;
 }   
.cards {
    display: grid;
    grid-template-columns: 1fr; 
}
.cards section {
    margin: .25rem;
    text-align: center;
    align-items: center;
    background-color: rgb(211, 224, 243);
    border: 1px dotted;
}
.cards section h2 {
    padding: .25rem;
}
.cards section p {
    padding: .1rem;
}
.cards section img {
    width: 10rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
@media only screen and (min-width: 37.5em) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
}
@media only screen and (min-width: 62.5em) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}
