body {
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
header, footer {
    display: flex;
	flex-flow: column;
	align-items: center;
    justify-content: center;
    background-color: rgb(126, 162, 177);
    flex: 0 1 100%;
}
nav {
    background-color: rgb(126, 162, 177);

}
nav ul {
    list-style-type: none;
        margin: 0;
        padding: 0;
}
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 2rem;
    color: rgb(53, 32, 53);
}
nav a:hover {
	background-color: rgb(53, 32, 53);
	color: rgb(126, 162, 177) ;
}
.active {
	color: white;
}
